@model IEnumerable<WebMVCApplKamPublic.Models.Person>

@{
    ViewData["Title"] = "Extract of the list of persons";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<br />

<div class="container p-1">
    <div class="col-12">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div class="col-12 pt-2 text-end">
        <p>
            <a asp-controller="Persons" asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> &nbsp; Add New person
            </a>
        </p>
    </div>
</div>



<div class="table-responsive">
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model ?? Enumerable.Empty<Person>())
                {
                    <tr>
                        <td width="25%">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td width="25%">
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td width="30%">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @*<div class="w-75 btn-group" role="group">*@
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@item.Id">
                                    <span class="btn btn-warning mx-1"></span>
                                    <i class="bi bi-pencil-square" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id">
                                    <span class="btn btn-danger mx-1"></span>
                                    <i class="bi bi-trash-fill" aria-hidden="true"></i>
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>
            <p><strong>There are no items on this page yet. </strong></p>
            <p><strong>To view, create a new record or switch to the current page. </strong></p>
        </div>
    }
</div>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

